main{
    display: flex;
    align-items: stretch;    
    margin: 0px auto;
    height: 100%;
}

@keyframes rotate{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#logo{
    margin: auto;
    width: 200px;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}